@import "../../app.scss";

#note {
    margin-top: 15px;
    .title{
        padding-bottom: 5px;
    }
}

.card-content {
    padding: 15px 15px;
    background-color: white;
}

.note-content {
    top: 0px;
}