@import "@material/button/mdc-button";
@import "@material/card/mdc-card";

#note{
  margin-top: 15px;
}

.close-btn {
    @extend .mdc-button;

    @extend .mdc-ripple-upgraded;

    @include mdc-button-ink-color(black);

    margin: 10px 0;
}

.note-content{
  padding: 15px 15px; 
  background: #F5F5F5;
}
.title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  font-family: 'Roboto Condensed',arial,sans-serif;
}

.body {
  margin: 10px 0;
  resize: none;
  font-size: 17px;
  font-family: 'Roboto Slab','Times New Roman',serif;
  box-sizing: border-box;
  overflow: hidden;
}