@import "../../app.scss";

#addnote {
    background-color: white;
    box-shadow:0 3px 5px rgba(0,0,0,0.20);
    .title {
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0px;
    }

    .body {
        padding: 0px 0 5px;
        margin-bottom: 0px;
    }

    .hide {
        display: none;
    }

    .show {
        display: inline;
    }
}
