@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "compass-mixins/lib/compass/css3/user-interface";
@import "../../app.scss";

$input-title: rgba(0, 0, 0, 0.54);

#addnote {
    .title {
        padding-top: 10px;
        padding-bottom: 5px;
        margin: 0px;
    }
    .primary-button {
        @extend .mdc-button;
      
        @extend .mdc-button--raised;
      
        @extend .mdc-button--dense;
        @include mdc-button-container-fill-color(#ACFCD9);
        @include mdc-button-ink-color(black);
        margin-bottom: 10px;
    }
    #noteTitle {
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        font-family: 'Roboto Condensed',arial,sans-serif;
        resize: none;

        @include input-placeholder {
            color: $input-title;
        }
    }

    #noteBody {

        font-size: 14px;
        line-height: 23px;
        font-family: 'Roboto Slab','Times New Roman',serif;
        display: initial;
        resize: none;

    }
    .body{
        padding: 10px 0 5px; 
    }

    .hide {
        display: none;
    }

    .show {
        display: inline;
    } 

    .reset{
        height: auto !important;
    }
}
